html, body{
	margin:0;
	padding: 0;
}
header, aside, footer{
	padding: 20px;
	box-sizing: border-box;
}
article{
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 200px;
	background-color: #28abb9;
}
header h1, header h2{
	color: #effad3;
}
#header_left{
	/*background-color: red;*/
	width: 30%;
	float: left;
}
#header_right{
	/*background-color: yellow;*/
	width: 70%;

	float: left;
}
#header_right nav ul{
	padding-top: 55px;
	list-style-type: none;
}
#header_right nav ul li{
	float: left;
	

}
#header_right nav ul li a{
	text-decoration: none;
	background-color: #a8dda8;
	color: black;
	border-right: 1px solid black;
	padding: 10px 20px;
	text-transform: uppercase;
}

#header_right nav ul li a:hover{
	background-color: black;
	color: white;
}
section{
	
	color: white;
	width: 100%;
	height: 663px;
}
article{
	width: 70%;
	height: 100%;
	background-color: #a8dda8;
	float: left;
	font-size: 20px;
	color: green;
}
#banner{
	position: relative;
}
#banner_img{
	width: 100%;
	display: block;
	
}
#banner_desc{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	padding: 5px 10px;
}

aside{
	width: 30%;
	height: 100%;
	background-color: #2d6187;
	float: left;
	color: #effad3;
}
aside p{
	text-align: justify;
}
ul li a{
	color: white;
}
.clear_fix{
	clear: both;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #28abb9;
	
	text-align: center;
	line-height: 60px;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 6px;

}


